# Airflow DB
psycopg2-binary

# Spark
pyspark

pandas<3.0.0
numpy
scikit-learn
pyarrow<16.0.0
fastparquet

matplotlib
seaborn


fastapi 
uvicorn 
python_jose
passlib[argon2]
sqlalchemy

pydantic
joblib
python-dotenv 
pytest
